<h1>Charts</h1>
<%= link_to 'Artist Index', artists_path %> | <%= link_to 'Bank App', accounts_path %>
<h3>BILLBOARD TOPS</h3>
<hr />
<div class="chartslist">
  <% @charts.each do |chart| %>
    <p><%= chart.title %> - <%= link_to "Show", chart_path(chart) %>
    <%= link_to "Edit", edit_chart_path(chart) %>
    <%= link_to "Delete", chart, method: :delete %>
    <br />
  <% end %>
</div>
