<h1>Charts#show</h1>


<h1><%= @artist.name %></h1>
<h4><%= @artist.genre %></h1>
<%= link_to 'edit Page', edit_artists_path(@artist)%>
<%= link_to 'Destroy', @artist, method: :delete%>
 <br/>
<%= link_to 'Back', artists_path %>