<h1><%= @chart.title %></h1>

<%= link_to 'Back', charts_path %>


<% @chart.songs.each do |song| %>
  <%= render 'songs/song', { song: song } %>
<% end %>

<%= link_to 'Destroy', @chart, method: :delete %>
<br />
<%= link_to 'Back', charts_path %>